.video_card{
    width: 350px;
    height: 260px;
    cursor: pointer;
}
.thumbnail_img{
    position: relative;
}

.thumb_img{
    position: relative;
    width: 350px;
    height: 180px;
}
.duration{
    position: absolute;
    bottom: 85px;
    left: 296px;
    background-color: black;
    color: white;
    font-size: 12px;
    padding: 3px;
}


.profile_img{
    cursor: pointer;
}

.title{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.title_icon{
    display: flex;
    gap: 10px;
}

.icon{
    color: gray;
}

.time_description{
    text-align: center;
}

.main_body p, .main_body span{
    line-height: 0px;
    color: gray;
}

.inner_body{
    display: flex;
    gap: 10px;
}

h4{
    line-height: 16px;
    margin-top: 4px;
}