.siderow{
    display: flex;
    align-items: center;
    padding: 3px 10px;
}

.siderow-icon{
    color: black;
    font-size: 18px;
}

.siderow-title {
    flex: 1;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

.siderow:hover {
    background-color: rgb(233, 231, 231);
    cursor: pointer
}

.siderow:hover >.siderow-icon {
    color: red
}

.siderow:hover >.siderow-title {
    font-weight: bold;
}

.siderow.selected {
    background-color: lightgray;
}

.siderow.selected >.siderow-icon {
    color: red
}

.siderow.selected >.siderow-title {
    font-weight: bold;
}