.recommendedvideos {
    flex: 0.8;
    background-color: #f9f9f9;
    padding: 6px 20px;
    padding-bottom: 0;
}

span.title{
    font-size: 20px;
    padding: 0px 20px;
    line-height: 700;
}

.channel{
    font-size: 13px;
}

.timestamp{
    font-size: 13px;
}


.the_videos{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 30px;
    /* display: flex;
    flex-direction: row; */
}